[tools]
node = '22'

[tasks.install]
description = 'Installs dependencies with pnpm'
run = 'corepack enable && pnpm install'

[tasks.start-vscode]
description = 'Starts VSCode with the extension loaded'
run = 'code --inspect-extensions=5858 --extensionDevelopmentPath=$(pwd)'

[tasks.start-vscode-inspect-brk]
description = 'Starts VSCode with the extension loaded. Pauses on the first line of the extension'
run = 'code --inspect-brk-extensions=5858 --extensionDevelopmentPath=$(pwd)'

[tasks.build-watch]
depends = ['install']
description = 'Builds the project in watch mode'
run = 'node --run dev'

[tasks.dev]
description = 'Starts the project in watch mode and opens the extension in VSCode'
depends = ['build-watch', 'start-vscode']

[tasks.ts-check]
description = 'Type-check the project'
run = 'node --run ts-check'
sources = ['src/**/*.ts']

[tasks.biome-lint]
description = 'Lint the project with biome'
run = 'node --run lint'
sources = ['src/**/*.ts']

[tasks.lint]
description = 'Lint the project + type-check'
depends = ['ts-check', 'biome-lint']

[tasks.lint-fix]
description = 'Lint the project + type-check and fix issues'
run = 'node --run lint-fix'

[tasks.test]
description = 'Run tests (with bun)'
run = 'node --run test'

[tasks.check]
description = "Lint, type-check, and test the project"
depends = ['lint-fix', 'test']